@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

@border: 1px @grayLighter solid;

.clearfix {
	overflow: hidden;
}

.btn-no-text {
	background: transparent;
	width: 20px;
	border: none;
	margin: 0;
	padding: 0;
	
	.text {
		display: none;
	}
}

#contactsApp {
	
	.left {
		float: left;
	}
	
	.right {
		float: right;
	}
	
	.app-content {
		width: 60%;
		margin: 50px auto 0 auto;
		padding: 0;
	}
	
	ul {
		list-style-type: none;
	}
	
	#detailView {
	
		section {
			padding-left: 20px;
			position: relative;
		}
		
		h1, h2 {
			float: left;
		}
		
		h3 {
			margin-bottom: 12px;
			border-bottom: @border;
		}
		
		.area {
			margin-top: 15px;
		}
		
		.controls {
			margin-top: 5px;
		}
		
		form {			
			.controls {
				position: static;
				float: none;
				margin-top: 0;
			}
			
			.phone-numbers {
				list-style-type: none;
				margin: 0;
				padding-top: 20px;
			}
		}
		
		.clearfix {
			margin-bottom: 10px;
		}
		
		.phone-numbers {
			list-style-type: disc;
		}
	}
	
	#peopleList {
		margin: 0;
	}
	
	.app-nav {		
		h2 {
			line-height: 26px;
			margin-bottom: 10px;
			
			.btn .text {
				display: none;
			}
		}
	}
	
	.btn.no-text {
		.text {
			display: none;
		}
	}
}