/*
 * {global}.{namespace}
 *
 */
 define('{globalLowercase}.{namespace}',
 	// Module dependencies
 	[
 		'sushi.core'
 	],

 	/**
 	 * {global} {namespace}
 	 *
 	 * @namespace {global}
 	 * @class {namespace}
 	 */
 	function(Sushi) {
        Sushi.namespace('{namespace}', {global});
        
        return {global}.{namespace};
 	}
 );